<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DAL" value="filesystem" />
    <add key="DAL.FileSystem.User.Path" value="d:/test/users" />
    <add key="DAL.FileSystem.Award.Path" value="d:/test/awards" />
    <add key="DAL.FileSystem.LinkUserAward.Path" value="d:/test/linkusersawards" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>